.sidebar-display-container{
    align-items: flex-start;
    max-height: 100vh;
    overflow: scroll;
}
.sidebar-display-container button{
    border: none;
}
.sidebar-icons-display{
    background-color: var(--primary-clr);
    color: antiquewhite;
    padding: 1rem;
    height: 100vh;
    justify-content: space-around;
}
.rating-icons{
    color: var(--secondary-clr)
}
.save-btn{
    color: var(--secondary-clr);
    font-weight: 600;
}
.sidebar-display-container input{
    accent-color:var(--secondary-clr)
}