/* utils */
.common-flex-row{
    display: flex;
}
.coomon-flex-column{
    display: flex;
    flex-direction: column;
}
.center{
    justify-content: center;
    align-items: center;
}
.m-sm{
    margin: 0.5rem;
}
.pd-sm{
    padding: 0.5rem;
}

/* layout-container */
.layout-container{
    display: grid;
    grid-template-columns: 2fr 3fr;
}