:root{
    --primary-clr:#31383F;
    --secondary-clr:#6366f1;
    --btn-bg:#cbd5e1;
}
/* utils */
.common-flex-row{
    display: flex;
}
.common-flex-column{
    display: flex;
    flex-direction: column;
}
.center{
    justify-content: center;
    align-items: center;
}
.between{
    justify-content: space-between;
}
.start{
    align-items: flex-start;
}
.wrap{
    flex-wrap: wrap;
}
.m-sm{
    margin: 0.5rem;
}
.pd-sm{
    padding: 0.5rem;
}
.pd-xs{
    padding: 0.3rem;
}
.font-sm{
    font-size: 14px;
}
.font-md{
    font-size: 16px;
}
/* layout-container */
.layout-container{
    display: grid;
    grid-template-columns: 2fr 4fr;
    min-height: 100vh;
}
.card-display-container {
    flex-wrap: wrap;
    min-height: 90%;
    overflow-y: scroll;
}
.results-block{
    align-items: center;
    justify-content: space-between;
}
.sidebar-btn{
    background-color: var(--btn-bg);
    border: 2px solid var(--secondary-clr);
}
.card-display-parent{
    height: 100vh;
}
::-webkit-scrollbar {
    width: 0.3rem;
    padding: 0.2rem;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--primary-clr);
  }

  
